.tt-time {
	font-family: 'ds-digital-normal';
	font-size: 42px;
	color: #01DF01;
	display: inline;
	line-height: normal;
}

.tt-present {
	color: orange;
}

.tt-row {	
	height: 65px;
	padding: 10px;
	margin: 5px;
}

.tt-label {
  font-family: 'impact_label-regular';	
	font-size: 20px;
	display:block;
}

.tt-row input[type=text] {
  width: 200px;
}

.tt-row select {
	height: 25px;
	margin-top: 7px;
}

#time_travel_to_year {
  width: 60px;  
}

#time_travel_to_month {
	width: 90px;
}

#time_travel_to_day {
	width: 45px;
}

.tt-row input[type=submit] {
	float: right;
}
