<!DOCTYPE html>
<html>
<head>
  <title>TimeTraveller</title>
  <%= stylesheet_link_tag    "time_traveller/application", :media => "all" %>
  <%= javascript_include_tag "time_traveller/application" %>
  <%= csrf_meta_tags %>
  
</head>
<body class="tt">

<%= yield %>

</body>
</html>
